.nav {
    display: flex;
    background: linear-gradient(rgba(173, 118, 35, 0.5), rgba(32, 28, 6, 0.5));
    justify-content: space-between;
    margin: 20px;
    border-radius: 10px;

}



.sec-1 {

    color: rgb(54, 50, 31);
    margin-left: 45px;
    font-size: 40px;
    text-shadow: 2px 2px 2px;
    text-decoration: none;

}

.index {
    text-decoration: none;
    color: rgb(58, 56, 51);
    font-size: 20px;
    padding-right: 20px;
    margin-right: 40px;
    border: 1px solid rgb(247, 247, 247);
    padding: 15px;
    margin: 12px;
    border-radius: 40px;
    background-color: rgb(212, 212, 212);
    color: rgb(82, 66, 23);
}

.index:hover {
    background-color: rgb(104, 101, 93);
    color: rgb(224, 221, 208);
}

.header {
    padding-top: 40px;
    padding-right: 20px;

}

.pic-1 {
    margin: 40px;
    border-radius: 30px;
    height: 600px;
    width: 400px;
    border: 18px double black;


}

.about-1 {

    /* margin-left: 60px;
    margin-top: 30px; */
    text-align: center;
    text-decoration: underline;
    color: rgb(49, 40, 32);
    font-size: 50px;

}

.about-2 {
    margin-left: 70px;
    margin-top: 150px;
    font-size: 22px;
    text-align: left;
    font-style: italic;
    color: rgb(44, 30, 21);
    margin: 90px;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(rgba(173, 118, 35, 0.5), rgba(32, 28, 6, 0.5));


}

.contenor {
    display: flex;
    flex-grow: 3px;
    flex-shrink: 5px;

}

.part-2 {
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(rgba(156, 121, 67, 0.5), rgba(34, 30, 7, 0.5));

}

.footer {
    border: 1px solid rgb(114, 89, 61);
    text-align: center;
    font-size: 23px;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    color: aliceblue;
    font-style: italic;
    background-color: rgb(65, 58, 44);
} 